@page
@model ProductApp.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
		This is A test project for learning Blazor. To get the different logins ask the admin or the Documentation.
    </p>
    
</div>
